{% extends 'base.html' %}

{% block title %}About{% endblock %}

{% block content %}
        <!-- About Section-->
        <section class="page-section hs-bg-primary text-white mb-0" id="about">
            <div class="container">
                <!-- About Section Heading-->
                <h2 class="page-section-heading text-center text-uppercase text-white">About</h2>
                <!-- Icon Divider-->
                <div class="divider-custom divider-light">
                    <div class="divider-custom-line"></div>
                    <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                    <div class="divider-custom-line"></div>
                </div>
                <!-- About Section Content-->
                <div class="row">
                    <div class="col-lg-4 ml-auto"><p class="lead">We are a group of young students who have designed a system that will allow you to learn English in an easy and comfortable way. The system has been designed in such a way that will allow you to advance at your own pace, repeat a lesson as many times as it is necessary and also learn vocabulary without the need of translation.</p></div>
                    <div class="col-lg-4 mr-auto"><p class="lead">Our teaching approach utilizes all the learning components that are needed to build strong vocabulary, grammar, as well as pronunciation.We have taken into consideration all the findings that are outlined in different research projects to develop our program.</p></div>
                </div>
 
            </div>
        </section>

{% endblock %}