{% load static %}

<html>
<head>
    <meta charset="utf-8" />
    <title>Animals List</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="{% static 'css/tablestyle.css' %}" rel=stylesheet />
</head>
<body>
    <tablestyle id="tablestyle"> 
        <table>
            <caption>Animals list</caption>
            <tr>
                <th>English vocabulary:</th>
                <th>Russian vocabulary:</th>
            </tr>
            <tr>
                <td>deer</td>
                <td>олень</td>
            </tr>
            <tr>
                <td>donkey</td>
                <td>осел</td>
            </tr>
            <tr>
                <td>eagle</td>
                <td>орел</td>
            </tr>
            <tr>
                <td>cow</td>
                <td>корова</td>
            </tr>
            <tr>
                <td>elephant</td>
                <td>слон</td>
            </tr>
            <tr>
                <td>goat</td>
                <td>козел</td>
            </tr>
            <tr>
                <td>horse</td>
                <td>лошадь</td>
            </tr>
            <tr>
                <td>lion</td>
                <td>лев</td>
            </tr>
            <tr>
                <td>monkey</td>
                <td>обезьяна</td>
            </tr>
            <tr>
                <td>mouse</td>
                <td>мышь</td>
            </tr>
            <tr>
                <td>wolf</td>
                <td>волк</td>
            </tr>
            <tr>
                <td>rabbit</td>
                <td>кролик</td>
            </tr>
            <tr>
                <td>snake</td>
                <td>змея</td>
            </tr>
            <tr>
                <td>bear</td>
                <td>медведь</td>
            </tr>
            <tr>
                <td>turtle</td>
                <td>черепаха</td>
            </tr>
            <tr>
                <td>squirrel</td>
                <td>белка</td>
            </tr>
            <tr>
                <td>fox</td>
                <td>лиса</td>
            </tr>
            <tr>
                <td>rhino</td>
                <td>носорог</td>
            </tr>
            <tr>
                <td>squid</td>
                <td>кальмар</td>
            </tr>
            <tr>
                <td>camel</td>
                <td>верблюд</td>
            </tr>
            <tr>
                <td>giraffe</td>
                <td>жираф</td>
            </tr>

        </table>
    </tablestyle> 
    
</body>
</html>