{% load static %}

<html>
<head>
    <meta charset="utf-8" />
    <title>Clothes</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="{% static 'css/tablestyle.css' %}" rel=stylesheet />
</head>
<body>
    <tablestyle id="tablestyle"> 
        <table>
            <caption>Clothes</caption>
            <tr>
                <th>English vocabulary:</th>
                <th>Russian vocabulary:</th>
            </tr>
            <tr>
                <td>shirt</td>
                <td>рубашка</td>
            </tr>
            <tr>
                <td>suit</td>
                <td>костюм</td>
            </tr>
            <tr>
                <td>trousers</td>
                <td>брюки</td>
            </tr>
            <tr>
                <td>socks</td>
                <td>ночски</td>
            </tr>
            <tr>
                <td>blouse</td>
                <td>рубашка</td>
            </tr>
            <tr>
                <td>poloneck</td>
                <td>водолазка</td>
            </tr>
            <tr>
                <td>jacket</td>
                <td>жакет</td>
            </tr>
            <tr>
                <td>scarf</td>
                <td>шарф</td>
            </tr>
            <tr>
                <td>coat</td>
                <td>пальто</td>
            </tr>
            <tr>
                <td>shoes</td>
                <td>ботинки</td>
            </tr>
            <tr>
                <td>gumshoes</td>
                <td>кеды</td>
            </tr>
            <tr>
                <td>waistcoat</td>
                <td>жилет</td>
            </tr>
            <tr>
                <td>skirt</td>
                <td>юбка</td>
            </tr>
            <tr>
                <td>t-shirt</td>
                <td>футболка</td>
            </tr>
            
        </table>
    </tablestyle> 
    
</body>
</html>