{% load static %}

<html>
<head>
    <meta charset="utf-8" />
    <title>Different Objects</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="{% static 'css/tablestyle.css' %}" rel=stylesheet />
</head>
<body>
    <tablestyle id="tablestyle"> 
        <table>
            <caption>Different Objects</caption>
            <tr>
                <th>English vocabulary:</th>
                <th>Russian vocabulary:</th>
            </tr>
            <tr>
                <td>country</td>
                <td>страна</td>
            </tr>
            <tr>
                <td>desert</td>
                <td>пустыня</td>
            </tr>
            <tr>
                <td>forest</td>
                <td>лес</td>
            </tr>
            <tr>
                <td>garden</td>
                <td>сад</td>
            </tr>
            <tr>
                <td>island</td>
                <td>остров</td>
            </tr>
            <tr>
                <td>moon</td>
                <td>луна</td>
            </tr>
            <tr>
                <td>ocean</td>
                <td>океан</td>
            </tr>
            <tr>
                <td>sea</td>
                <td>море</td>
            </tr>
            <tr>
                <td>sky</td>
                <td>небо</td>
            </tr>
            <tr>
                <td>stars</td>
                <td>звезды</td>
            </tr>
            <tr>
                <td>tree</td>
                <td>дерево</td>
            </tr>
            
        </table>
    </tablestyle> 
    
</body>
</html>