
{% load static %}

<html>
<head>
    <meta charset="utf-8" />
    <title>Food List</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="{% static 'css/tablestyle.css' %}" rel=stylesheet />
</head>
<body>
    <tablestyle id="tablestyle"> 
        <table>
            <caption>Food list</caption>
            <tr>
                <th>English vocabulary:</th>
                <th>Russian vocabulary:</th>
            </tr>
            <tr>
                <td>almonds</td>
                <td>миндаль</td>
            </tr>
            <tr>
                <td>bread</td>
                <td>хлеб</td>
            </tr>
            <tr>
                <td>breakfast</td>
                <td>завтрак</td>
            </tr>
            <tr>
                <td>butter</td>
                <td>сливочное масло</td>
            </tr>
            <tr>
                <td>candy</td>
                <td>конфеты</td>
            </tr>
            <tr>
                <td>cheese</td>
                <td>сыр </td>
            </tr>
            <tr>
                <td>chicken</td>
                <td>курица</td>
            </tr>
            <tr>
                <td>dessert</td>
                <td>десерт</td>
            </tr>
            <tr>
                <td>dinner</td>
                <td>обед</td>
            </tr>
            <tr>
                <td>fish</td>
                <td>рыба</td>
            </tr>
            <tr>
                <td>fruit</td>
                <td>фрукты</td>
            </tr>
            <tr>
                <td>ice cream</td>
                <td>ягненок</td>
            </tr>
            <tr>
                <td>lunch</td>
                <td>обед </td>
            </tr>
            <tr>
                <td>meal</td>
                <td>еда</td>
            </tr>
            <tr>
                <td>meat</td>
                <td>мясо</td>
            </tr>
            <tr>
                <td>pepper</td>
                <td>перец</td>
            </tr>
            <tr>
                <td>sausage</td>
                <td>колбаса</td>
            </tr>
            <tr>
                <td>sugar</td>
                <td>сахар</td>
            </tr>
            <tr>
                <td>turkey</td>
                <td>индейка</td>
            </tr>
            <tr>
                <td>peaches</td>
                <td>персики</td>
            </tr>
            <tr>
                <td>peanut</td>
                <td>арахис</td>
            </tr>
            <tr>
                <td>pears</td>
                <td>груши</td>
            </tr>
            <tr>
                <td>grapes</td>
                <td>виноград</td>
            </tr>
            <tr>
                <td>corn</td>
                <td>кукуруза</td>
            </tr>

            
        </table>
    </tablestyle> 
    
</body>
</html>
