
<!-- Footer-->
<footer class="footer text-center">
    <div class="container">
        <div class="row">
            <!-- Footer Location-->
            <div class="col-lg-4 mb-5 mb-lg-0">
                <p class="lead mb-0">
                    Reach Us
                    <br />
                    <a href="mailto:englishlab@list.ru">englishlab@list.ru</a>
                </p>
            </div>
            <!-- Footer Social Icons-->
            <div class="col-lg-4 mb-5 mb-lg-0">
                <h4 class="text-uppercase mb-4">Social Media</h4>
                <a class="btn btn-outline-light btn-social mx-1" title="Youtube" href="https://www.youtube.com/user/JamesESL"><i class="fab fa-fw fa-youtube"></i></a>
            </div>
            <!-- Footer About Text-->
            <div class="col-lg-4">
                <h4 class="text-uppercase mb-4">Quick Links</h4>
                <p class="lead mb-0">
                    <a href="">Main</a>
                    <br/>
                    <a href="contact/">Contact</a>
                    <br/>
                    <a href="about">About</a>
                    <br/>
                    <a href="mission">Our Mission</a>
                </p>
            </div>
        </div>
    </div>
</footer>