{% extends 'base.html' %}
{% load static %}
{% block title %}EnglishLab{% endblock %}

{% block content %}
<div class="container">
    <h3>Present Tense</h3>
    <p class="mb-5" > The simple present tense in English is used to describe an action that is regular, true or normal.

    <p class="mb-5" >We use the present tense:</p>
    <p class="mb-5">
        1. For repeated or regular actions in the present time period.
        
        
    </p>
        
    <p class="mb-5">
        I take the train to the office.
        The train to Berlin leaves every hour.
        John sleeps eight hours every night during the week.
    </p>

    <p class="mb-5">
        2. For facts.

        
    </p>
        
    <p class="mb-5">
        The President of The USA lives in The White House.
        A dog has four legs.
        We come from Switzerland.
    </p>

    <p class="mb-5">
        3. For habits.        
    </p>
        
    <p class="mb-5">
        I get up early every day.
        Carol brushes her teeth twice a day.
        They travel to their country house every weekend.
    </p>

    <p class="mb-5">
        4. For things that are always / generally true.
        
        
    </p>
        
    <p class="mb-5">
        It rains a lot in winter.
        The Queen of England lives in Buckingham Palace.
        They speak English at work.

    </p>

        
        
        
        
       
</div>


{% endblock %}