{% extends 'base.html' %}

{% block title %}About{% endblock %}

{% block content %}
        <!-- Mission Section-->
        <section class="page-section hs-bg-primary text-white mb-0" id="mission">
            <div class="container">
                <!-- Mission Section Heading-->
                <h2 class="page-section-heading text-center text-uppercase text-white">Our Mission</h2>
                <!-- Icon Divider-->
                <div class="divider-custom divider-light">
                    <div class="divider-custom-line"></div>
                    <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                    <div class="divider-custom-line"></div>
                </div>
                <!-- Mission Section Content-->
                <div class="row">
                    <div class="col-lg-4 ml-auto"><p class="lead">As the world becomes a more global and integrated community, the English language plays an important role in connecting people and their ideas to one another.Our mission is to facilitate communication through better understanding and use of English through our unique multi-media online program.EnglishLab has been designed to help students and teachers alike. </p></div>
                    <div class="col-lg-4 mr-auto"><p class="lead">For Students

                        Flexible online English language program that allows students to learn at their own pace.
                        Extensive multi-level, reading, writing, grammar, and listening exercises to enable students to improve their English language skills.</p></div>
                </div>
 
            </div>
        </section>
{% endblock %}







